In [1]:
import geopandas as gp

In [2]:
import netCDF4 as nc

fn_t = '../raw_data/temperature_monthly-mean_bcc-csm1-1-m_rcp45_r1i1p1_1950-2100_v1.0.nc'
ds_t = nc.Dataset(fn_t)
print(ds_t)

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    history: Tue Jun 22 17:22:44 2021: ncks -C -O -x -v height /data/public/global_data/cmip5/bcc-csm1-1-m/monthly/temperature_monthly-mean_bcc-csm1-1-m_rcp45_r1i1p1_1950-2100_v1.0.nc /data/public/global_data/cmip5/bcc-csm1-1-m/monthly/temperature_monthly-mean_bcc-csm1-1-m_rcp45_r1i1p1_1950-2100_v1.0_temp.nc
Fri Dec 18 07:15:48 2020: ncpdq -a time,latitude,longitude /tmp/tmp5d44cu72.nc_temp /tmp/tmp5d44cu72.nc
    Conventions: CF-1.7
    Institution: (C) VITO, Belgium
    References: See documentation for full references at https://climate.copernicus.eu/
    Contact: Please contact Copernicus User Support on the Copernicus Climate Change Service website (https://climate.copernicus.eu/)
    Version: v1
    Title: C3S D427 SIS Biodiversity / Bio-climate indicators / temperature_monthly-mean / CMIP5 / rcp45 bcc-csm1-1-m r1i1p1 / bias-adjusted with ERA5 / 20-year month_000.5degree_global
    Source: CMIP5 dataset (rcp45 bcc-csm1-1-m r1i1p1) bias-adjusted to ERA5 by VITO
    Licence: ECMWF Copernicus licence 1.0
    NCO: netCDF Operators version 4.7.5 (Homepage = http://nco.sf.net, Code = http://github.com/nco/nco)
    dimensions(sizes): latitude(348), longitude(720), time(1812)
    variables(dimensions): float64 latitude(latitude), float64 longitude(longitude), float32 temperature_monthly-mean(time, latitude, longitude), int64 time(time)
    groups:

In [3]:
import xarray as xr

data_t= xr.open_dataset('../raw_data/temperature_monthly-mean_bcc-csm1-1-m_rcp45_r1i1p1_1950-2100_v1.0.nc')

In [4]:
data_t

<xarray.Dataset> Size: 2GB
Dimensions:                   (latitude: 348, longitude: 720, time: 1812)
Coordinates:
  * latitude                  (latitude) float64 3kB -89.75 -89.25 ... 83.75
  * longitude                 (longitude) float64 6kB -179.8 -179.2 ... 179.8
  * time                      (time) datetime64[ns] 14kB 1950-01-01 ... 2100-...
Data variables:
    temperature_monthly-mean  (time, latitude, longitude) float32 2GB ...
Attributes:
    history:      Tue Jun 22 17:22:44 2021: ncks -C -O -x -v height /data/pub...
    Conventions:  CF-1.7
    Institution:  (C) VITO, Belgium
    References:   See documentation for full references at https://climate.co...
    Contact:      Please contact Copernicus User Support on the Copernicus Cl...
    Version:      v1
    Title:        C3S D427 SIS Biodiversity / Bio-climate indicators / temper...
    Source:       CMIP5 dataset (rcp45 bcc-csm1-1-m r1i1p1) bias-adjusted to ...
    Licence:      ECMWF Copernicus licence 1.0
    NCO:          netCDF Operators version 4.7.5 (Homepage = http://nco.sf.ne...

In [5]:
df_t=data_t['temperature_monthly-mean'].to_dataframe()
df_t

                               temperature_monthly-mean
time       latitude longitude
1950-01-01 -89.75   -179.75                         NaN
                    -179.25                         NaN
                    -178.75                         NaN
                    -178.25                         NaN
                    -177.75                         NaN
...                                                 ...
2100-12-01  83.75    177.75                  252.506790
                     178.25                  252.521271
                     178.75                  252.537201
                     179.25                  252.546890
                     179.75                  252.550018

[454014720 rows x 1 columns]

In [6]:
df_t_reset = df_t.reset_index()
df_t_reset

                time  latitude  longitude  temperature_monthly-mean
0         1950-01-01    -89.75    -179.75                       NaN
1         1950-01-01    -89.75    -179.25                       NaN
2         1950-01-01    -89.75    -178.75                       NaN
3         1950-01-01    -89.75    -178.25                       NaN
4         1950-01-01    -89.75    -177.75                       NaN
...              ...       ...        ...                       ...
454014715 2100-12-01     83.75     177.75                252.506790
454014716 2100-12-01     83.75     178.25                252.521271
454014717 2100-12-01     83.75     178.75                252.537201
454014718 2100-12-01     83.75     179.25                252.546890
454014719 2100-12-01     83.75     179.75                252.550018

[454014720 rows x 4 columns]

In [7]:
import pandas as pd

df_t_reset['time'] = pd.to_datetime(df_t_reset['time'])

# Truncate the DataFrame to start from the year 2015
df_t_reset_truncated = df_t_reset[df_t_reset['time'].dt.year >= 2015]

# Reset the index if needed
df_t_reset_truncated.reset_index(inplace=True)

In [8]:
df_t_reset_truncated

               index       time  latitude  longitude  temperature_monthly-mean
0          195436800 2015-01-01    -89.75    -179.75                       NaN
1          195436801 2015-01-01    -89.75    -179.25                       NaN
2          195436802 2015-01-01    -89.75    -178.75                       NaN
3          195436803 2015-01-01    -89.75    -178.25                       NaN
4          195436804 2015-01-01    -89.75    -177.75                       NaN
...              ...        ...       ...        ...                       ...
258577915  454014715 2100-12-01     83.75     177.75                252.506790
258577916  454014716 2100-12-01     83.75     178.25                252.521271
258577917  454014717 2100-12-01     83.75     178.75                252.537201
258577918  454014718 2100-12-01     83.75     179.25                252.546890
258577919  454014719 2100-12-01     83.75     179.75                252.550018

[258577920 rows x 5 columns]

In [9]:
# min/max coordinate values for all PA
min_lon= -32.30906837949666
max_lon = 34.071555485388096
min_lat = 27.658764598717514
max_lat = 70.01981302035634

In [10]:
df_t_filtered = df_t_reset_truncated[(df_t_reset_truncated["longitude"] >= min_lon) \
    & (df_t_reset_truncated["longitude"] <= max_lon) \
    & (df_t_reset_truncated["latitude"] >= min_lat) \
    & (df_t_reset_truncated["latitude"] <= max_lat)]
df_t_filtered

               index       time  latitude  longitude  temperature_monthly-mean
169495     195606295 2015-01-01     27.75     -32.25                293.103912
169496     195606296 2015-01-01     27.75     -31.75                293.119873
169497     195606297 2015-01-01     27.75     -31.25                293.142670
169498     195606298 2015-01-01     27.75     -30.75                293.141083
169499     195606299 2015-01-01     27.75     -30.25                293.129700
...              ...        ...       ...        ...                       ...
258557463  453994263 2100-12-01     69.75      31.75                274.949554
258557464  453994264 2100-12-01     69.75      32.25                273.945343
258557465  453994265 2100-12-01     69.75      32.75                275.869293
258557466  453994266 2100-12-01     69.75      33.25                277.148651
258557467  453994267 2100-12-01     69.75      33.75                277.471130

[11666760 rows x 5 columns]

In [11]:
df_t_filtered.set_index('index', inplace=True)
df_t_filtered

                time  latitude  longitude  temperature_monthly-mean
index
195606295 2015-01-01     27.75     -32.25                293.103912
195606296 2015-01-01     27.75     -31.75                293.119873
195606297 2015-01-01     27.75     -31.25                293.142670
195606298 2015-01-01     27.75     -30.75                293.141083
195606299 2015-01-01     27.75     -30.25                293.129700
...              ...       ...        ...                       ...
453994263 2100-12-01     69.75      31.75                274.949554
453994264 2100-12-01     69.75      32.25                273.945343
453994265 2100-12-01     69.75      32.75                275.869293
453994266 2100-12-01     69.75      33.25                277.148651
453994267 2100-12-01     69.75      33.75                277.471130

[11666760 rows x 4 columns]

In [12]:
import pandas as pd

# Assuming df_t_reset_truncated is your initial DataFrame
# Ensure the time column is in datetime format
df_t_filtered.loc[:, 'time'] = pd.to_datetime(df_t_filtered['time'])

# Create a new column for the quarter start date
df_t_filtered.loc[:, 'quarter_start'] = df_t_filtered['time'].dt.to_period('Q').dt.start_time

# Group by latitude, longitude, and the quarter start date
# Calculate the mean temperature for each group
df_t_quarterly = df_t_filtered.groupby(['latitude', 'longitude', 'quarter_start']).agg({
    'temperature_monthly-mean': 'mean'})

# Rename columns for clarity
df_t_quarterly.rename(columns={'temperature_monthly-mean': 'temperature_quarterly_mean'}, inplace=True)

#df_t_quarterly.set_index('index', inplace=True)

/var/folders/db/1zlgknyx08v199b6h3k44t9m0000gn/T/ipykernel_9165/1066903594.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t_filtered.loc[:, 'quarter_start'] = df_t_filtered['time'].dt.to_period('Q').dt.start_time

                                  temperature_quarterly_mean
latitude longitude quarter_start
27.75    -32.25    2015-01-01                     292.713745
                   2015-04-01                     293.975189
                   2015-07-01                     296.641632
                   2015-10-01                     295.463531
                   2016-01-01                     293.171631
...                                                      ...
69.75     33.75    2099-10-01                     278.113983
                   2100-01-01                     276.333466
                   2100-04-01                     277.799805
                   2100-07-01                     281.930328
                   2100-10-01                     276.682892

[3888920 rows x 1 columns]

In [1]:
df_t_quarterly

NameError: name 'df_t_quarterly' is not defined

In [2]:
pwd

'/Users/florentinekleist/code/Predicting_land_cover/notebooks'

In [14]:
df_t_quarterly.to_csv('../raw_data/temperature_quarterly_mean.csv')

: