In [45]:
import pandas as pd

df_transposed = pd.read_csv("../raw_data/merged_data_10_2015_2024_land_proportions.csv")

In [46]:
df_transposed

,Unnamed: 0,date,SITECODE,LC,LC_PROPORTION,lon,lat,quarter_start,temperature_quarterly_mean,precipitation_quarterly_mean,water_vapor_pressure,cloud_cover
0,0,2015-07-01,IT7222296,Water,0.000000,14.594088,41.454862,2015-07-01,18.134,2.487782e-08,928.325388,0.459631
1,1,2015-07-01,IT7222296,Trees,40.101663,14.594088,41.454862,2015-07-01,18.134,2.487782e-08,928.325388,0.459631
2,2,2015-07-01,IT7222296,Grass,6.641583,14.594088,41.454862,2015-07-01,18.134,2.487782e-08,928.325388,0.459631
3,3,2015-07-01,IT7222296,Flooded Vegetation,0.479821,14.594088,41.454862,2015-07-01,18.134,2.487782e-08,928.325388,0.459631
4,4,2015-07-01,IT7222296,Crops,45.167268,14.594088,41.454862,2015-07-01,18.134,2.487782e-08,928.325388,0.459631
...,...,...,...,...,...,...,...,...,...,...,...,...
116635,116635,2024-04-01,BE35043C0,Crops,0.000000,4.875491,49.939295,2024-04-01,14.730,2.273719e-08,756.023076,0.517018
116636,116636,2024-04-01,BE35043C0,Shrub and Scrub,0.000000,4.875491,49.939295,2024-04-01,14.730,2.273719e-08,756.023076,0.517018
116637,116637,2024-04-01,BE35043C0,Built Area,0.000000,4.875491,49.939295,2024-04-01,14.730,2.273719e-08,756.023076,0.517018
116638,116638,2024-04-01,BE35043C0,Bare Ground,0.000000,4.875491,49.939295,2024-04-01,14.730,2.273719e-08,756.023076,0.517018
116639,116639,2024-04-01,BE35043C0,Snow and Ice,0.000000,4.875491,49.939295,2024-04-01,14.730,2.273719e-08,756.023076,0.517018

In [47]:
df_transposed.drop(columns=["date", "Unnamed: 0"])

,SITECODE,LC,LC_PROPORTION,lon,lat,quarter_start,temperature_quarterly_mean,precipitation_quarterly_mean,water_vapor_pressure,cloud_cover
0,IT7222296,Water,0.000000,14.594088,41.454862,2015-07-01,18.134,2.487782e-08,928.325388,0.459631
1,IT7222296,Trees,40.101663,14.594088,41.454862,2015-07-01,18.134,2.487782e-08,928.325388,0.459631
2,IT7222296,Grass,6.641583,14.594088,41.454862,2015-07-01,18.134,2.487782e-08,928.325388,0.459631
3,IT7222296,Flooded Vegetation,0.479821,14.594088,41.454862,2015-07-01,18.134,2.487782e-08,928.325388,0.459631
4,IT7222296,Crops,45.167268,14.594088,41.454862,2015-07-01,18.134,2.487782e-08,928.325388,0.459631
...,...,...,...,...,...,...,...,...,...,...
116635,BE35043C0,Crops,0.000000,4.875491,49.939295,2024-04-01,14.730,2.273719e-08,756.023076,0.517018
116636,BE35043C0,Shrub and Scrub,0.000000,4.875491,49.939295,2024-04-01,14.730,2.273719e-08,756.023076,0.517018
116637,BE35043C0,Built Area,0.000000,4.875491,49.939295,2024-04-01,14.730,2.273719e-08,756.023076,0.517018
116638,BE35043C0,Bare Ground,0.000000,4.875491,49.939295,2024-04-01,14.730,2.273719e-08,756.023076,0.517018
116639,BE35043C0,Snow and Ice,0.000000,4.875491,49.939295,2024-04-01,14.730,2.273719e-08,756.023076,0.517018

In [51]:
df_transposed.head()

,Unnamed: 0,date,SITECODE,LC,LC_PROPORTION,lon,lat,quarter_start,temperature_quarterly_mean,precipitation_quarterly_mean,water_vapor_pressure,cloud_cover
0,0,2015-07-01,IT7222296,Water,0.000000,14.594088,41.454862,2015-07-01,18.134,2.487782e-08,928.325388,0.459631
1,1,2015-07-01,IT7222296,Trees,40.101663,14.594088,41.454862,2015-07-01,18.134,2.487782e-08,928.325388,0.459631
2,2,2015-07-01,IT7222296,Grass,6.641583,14.594088,41.454862,2015-07-01,18.134,2.487782e-08,928.325388,0.459631
3,3,2015-07-01,IT7222296,Flooded Vegetation,0.479821,14.594088,41.454862,2015-07-01,18.134,2.487782e-08,928.325388,0.459631
4,4,2015-07-01,IT7222296,Crops,45.167268,14.594088,41.454862,2015-07-01,18.134,2.487782e-08,928.325388,0.459631

In [52]:
df_transposed_pivot = df_transposed.pivot_table(index=['SITECODE', 'quarter_start'], columns='LC', values='LC_PROPORTION').reset_index()
df_transposed_pivot

LC,SITECODE,quarter_start,Bare Ground,Built Area,Crops,Flooded Vegetation,Grass,Shrub and Scrub,Snow and Ice,Trees,Water
0,AT1302000,2015-07-01,0.90461,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995
1,AT1302000,2015-10-01,0.90461,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995
2,AT1302000,2016-01-01,0.90461,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995
3,AT1302000,2016-04-01,0.90461,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995
4,AT1302000,2016-07-01,0.90461,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995
...,...,...,...,...,...,...,...,...,...,...,...
355,SE0630108,2023-04-01,0.04041,0.074720,0.304135,0.262463,0.166875,1.940688,30.085350,60.287530,2.107063
356,SE0630108,2023-07-01,0.04041,0.074720,0.304135,0.262463,0.166875,1.940688,30.085350,60.287530,2.107063
357,SE0630108,2023-10-01,0.04041,0.074720,0.304135,0.262463,0.166875,1.940688,30.085350,60.287530,2.107063
358,SE0630108,2024-01-01,0.04041,0.074720,0.304135,0.262463,0.166875,1.940688,30.085350,60.287530,2.107063
359,SE0630108,2024-04-01,0.04041,0.074720,0.304135,0.262463,0.166875,1.940688,30.085350,60.287530,2.107063

In [53]:
df_weather[['quarter_start', 'SITECODE', 'temperature_quarterly_mean', 'precipitation_quarterly_mean', 'cloud_cover', 'water_vapor_pressure']]
df_weather

,quarter_start,SITECODE,temperature_quarterly_mean,precipitation_quarterly_mean,cloud_cover,water_vapor_pressure
0,2015-07-01,IT7222296,18.134,2.487782e-08,0.459631,928.325388
9,2015-07-01,SE0630108,18.134,2.487782e-08,0.459631,928.325388
18,2015-07-01,IT5330008,18.134,2.487782e-08,0.459631,928.325388
27,2015-07-01,SE0210292,18.134,2.487782e-08,0.459631,928.325388
36,2015-07-01,GR4310003,18.134,2.487782e-08,0.459631,928.325388
45,2015-07-01,DE5529302,18.134,2.487782e-08,0.459631,928.325388
54,2015-07-01,BG0000273,18.134,2.487782e-08,0.459631,928.325388
63,2015-07-01,IT5180016,18.134,2.487782e-08,0.459631,928.325388
72,2015-07-01,AT1302000,18.134,2.487782e-08,0.459631,928.325388
81,2015-07-01,BE35043C0,18.134,2.487782e-08,0.459631,928.325388
540,2015-10-01,IT7222296,6.903,2.740330e-08,0.682746,700.256778
549,2015-10-01,SE0630108,6.903,2.740330e-08,0.682746,700.256778
558,2015-10-01,IT5330008,6.903,2.740330e-08,0.682746,700.256778
567,2015-10-01,SE0210292,6.903,2.740330e-08,0.682746,700.256778
576,2015-10-01,GR4310003,6.903,2.740330e-08,0.682746,700.256778
585,2015-10-01,DE5529302,6.903,2.740330e-08,0.682746,700.256778
594,2015-10-01,BG0000273,6.903,2.740330e-08,0.682746,700.256778
603,2015-10-01,IT5180016,6.903,2.740330e-08,0.682746,700.256778
612,2015-10-01,AT1302000,6.903,2.740330e-08,0.682746,700.256778
621,2015-10-01,BE35043C0,6.903,2.740330e-08,0.682746,700.256778

In [55]:
import pandas as pd

df_transposed_pivot['quarter_start'] = pd.to_datetime(df_transposed_pivot['quarter_start'])
df_weather['quarter_start'] = pd.to_datetime(df_weather['quarter_start'])

# Perform the merge based on 'quarter_start' and 'SITECODE'
df_merged = pd.merge(df_transposed_pivot, df_weather, on=['quarter_start', 'SITECODE'], how='left')

In [56]:
df_merged.head(50)

,SITECODE,quarter_start,Bare Ground,Built Area,Crops,Flooded Vegetation,Grass,Shrub and Scrub,Snow and Ice,Trees,Water,temperature_quarterly_mean,precipitation_quarterly_mean,cloud_cover,water_vapor_pressure
0,AT1302000,2015-07-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,18.134,2.487782e-08,0.459631,928.325388
1,AT1302000,2015-10-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,6.903,2.740330e-08,0.682746,700.256778
2,AT1302000,2016-01-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
3,AT1302000,2016-04-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
4,AT1302000,2016-07-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
5,AT1302000,2016-10-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
6,AT1302000,2017-01-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
7,AT1302000,2017-04-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
8,AT1302000,2017-07-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
9,AT1302000,2017-10-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
10,AT1302000,2018-01-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
11,AT1302000,2018-04-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
12,AT1302000,2018-07-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
13,AT1302000,2018-10-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
14,AT1302000,2019-01-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
15,AT1302000,2019-04-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
16,AT1302000,2019-07-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
17,AT1302000,2019-10-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
18,AT1302000,2020-01-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
19,AT1302000,2020-04-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
20,AT1302000,2020-07-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
21,AT1302000,2020-10-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
22,AT1302000,2021-01-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
23,AT1302000,2021-04-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
24,AT1302000,2021-07-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
25,AT1302000,2021-10-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
26,AT1302000,2022-01-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
27,AT1302000,2022-04-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
28,AT1302000,2022-07-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
29,AT1302000,2022-10-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
30,AT1302000,2023-01-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
31,AT1302000,2023-04-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
32,AT1302000,2023-07-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
33,AT1302000,2023-10-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
34,AT1302000,2024-01-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
35,AT1302000,2024-04-01,0.904610,0.555567,0.898785,0.702734,2.268250,2.075454,1.208848,85.230531,0.287995,NaN,NaN,NaN,NaN
36,BE35043C0,2015-07-01,0.007721,0.018757,0.079310,0.998435,0.209853,4.417831,2.052923,87.557786,0.212880,18.134,2.487782e-08,0.459631,928.325388
37,BE35043C0,2015-10-01,0.007721,0.018757,0.079310,0.998435,0.209853,4.417831,2.052923,87.557786,0.212880,6.903,2.740330e-08,0.682746,700.256778
38,BE35043C0,2016-01-01,0.007721,0.018757,0.079310,0.998435,0.209853,4.417831,2.052923,87.557786,0.212880,NaN,NaN,NaN,NaN
39,BE35043C0,2016-04-01,0.007721,0.018757,0.079310,0.998435,0.209853,4.417831,2.052923,87.557786,0.212880,NaN,NaN,NaN,NaN
40,BE35043C0,2016-07-01,0.007721,0.018757,0.079310,0.998435,0.209853,4.417831,2.052923,87.557786,0.212880,NaN,NaN,NaN,NaN
41,BE35043C0,2016-10-01,0.007721,0.018757,0.079310,0.998435,0.209853,4.417831,2.052923,87.557786,0.212880,NaN,NaN,NaN,NaN
42,BE35043C0,2017-01-01,0.007721,0.018757,0.079310,0.998435,0.209853,4.417831,2.052923,87.557786,0.212880,NaN,NaN,NaN,NaN
43,BE35043C0,2017-04-01,0.007721,0.018757,0.079310,0.998435,0.209853,4.417831,2.052923,87.557786,0.212880,NaN,NaN,NaN,NaN
44,BE35043C0,2017-07-01,0.007721,0.018757,0.079310,0.998435,0.209853,4.417831,2.052923,87.557786,0.212880,NaN,NaN,NaN,NaN
45,BE35043C0,2017-10-01,0.007721,0.018757,0.079310,0.998435,0.209853,4.417831,2.052923,87.557786,0.212880,NaN,NaN,NaN,NaN
46,BE35043C0,2018-01-01,0.007721,0.018757,0.079310,0.998435,0.209853,4.417831,2.052923,87.557786,0.212880,NaN,NaN,NaN,NaN
47,BE35043C0,2018-04-01,0.007721,0.018757,0.079310,0.998435,0.209853,4.417831,2.052923,87.557786,0.212880,NaN,NaN,NaN,NaN
48,BE35043C0,2018-07-01,0.007721,0.018757,0.079310,0.998435,0.209853,4.417831,2.052923,87.557786,0.212880,NaN,NaN,NaN,NaN
49,BE35043C0,2018-10-01,0.007721,0.018757,0.079310,0.998435,0.209853,4.417831,2.052923,87.557786,0.212880,NaN,NaN,NaN,NaN